<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">

          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hey there! I'm <strong>Tasin Hassan</strong>
              <p>I'm a committed, passionate and self-motivated Software Development student, bringing forth
                a diverse and promising skillset. Proficient in multiple platforms, programming languages and development 
                methodologies.</p> 
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">June 20, 1999</div>
                
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">tasinhassan99@gmail.com <strong>OR</strong> sthassan@myseneca.ca</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">647-648-6264</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>