<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/angularProj.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio - October 2020</h4>
          <h5 class="card-text"><b>Technologies:</b> Angular10, Bootstrap4</h5>
          <h5 class="card-text"><b>Description:</b> Personal portfolio website developed solely using Angular10, and Bootstrap4.
          This project is the website you are browsing at this very moment. </h5>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/androidProj.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Android Application - April 2020</h4>
           <h5 class="card-text"><b>Technologies:</b> Java, Firebase, Express.js, Node.js, SQLite</h5>
           <h5 class="card-text"><b>Description:</b> An Android application that allows users to view weather
          details and plan events on a certain day. Also works as a TO-DO list.</h5>
        </div>
    </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
  <div class="card" >
    <img class="card-img-top" src="assets/images/angularProj.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Angular Application - April 2019</h4>
      <h5 class="card-text"><b>Technologies:</b> Angular8, Bootstrap3, Node.js, Express.js, MongoDB</h5>
      <h5 class="card-text"><b>Description:</b> A web application that allows the creation of a student
      timetable using a virtual cart.</h5>
    </div>
  </div>
</div>
</div>
    
    </div>
    </div>
  </div>